<div class="wy-view-map wy-view-maps">
  <div id="wy-map-viewport">
    <img src="modules/wy-terminal/images/starmap.jpg" alt="STELLAR CARTOGRAPHY" id="wy-map-img" />
  </div>

  <div class="wy-map-controls">
    <button class="wy-map-zoom-btn" data-map-zoom="in" title="Zoom In">+</button>
    <button class="wy-map-zoom-btn" data-map-zoom="out" title="Zoom Out">&minus;</button>
    <button class="wy-map-zoom-btn wy-map-reset-btn" data-map-zoom="reset" title="Reset View">&#x21ba;</button>
  </div>
</div>
